img {
    max-width: 20em;
    max-height: 20em;
}

.nsfw {
    filter: blur(15px);
}

.meme {
    border: 2px rgb(95, 95, 255) solid;
}

.manga {
    border: 2px rgb(95, 255, 95) solid;
}

.manga.meme {
    outline: 2px dashed rgb(95, 95, 255);
    box-shadow: 0 0 0 1px rgb(95, 255, 95);
}